<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <title>Auctions</title>
</head>
<body>
<h1>Very janky image downloader - Zadelhoff</h1>
<h2>Public Auctions</h2>
<% list = data.map(function(item) {
  return '<li><a href="auction/' + item.auc_id + '">' + item.auc_title + '</a></li>'
}) -%>
<ul>
  <%- list.join("") %>
</ul>
</body>
</html>
